html{
  scroll-behavior: smooth;
}

body{
    background-color: rgb(11, 36, 71);
    background-image: url(../img/fundo.jpg);
    background-attachment: fixed;
    background-position:center;
  }
  h1{
    color: rgb(206, 191, 191);
    text-align: center;
    padding: 1%;
    font-size: 3.0em;
    font-family: monospace;
    text-shadow: 2px 2px 5px red;
  }
  
  header{
    width: 100%;
    background-color:rgb(25, 55, 109);
    background-image: linear-gradient(to right, rgb(25, 55, 109) , rgb(6, 59, 156));
    padding-bottom: 1%;
  }
  
  .logo{
    text-align: center;
    width: 60%;
    display: block;
    margin: auto;
  }
  
  nav{
    text-align: center;
    color: aliceblue;
    font-size: 1.5em;
  }
  
  .banner{
    width: 100%;
    height: 60%;
  }
  
  .container{
    background-color:rgba(25, 54, 109, 0.498);
    width: 80%;
    margin: auto;
  }
  
  footer{
    background-color: rgb(46, 46, 46);
    width: 100%;
  }

  h2{
    color: rgb(206, 191, 191);
    text-align: center;
    padding: 1%;
    font-size: 2.0em;
    font-family: monospace;
    text-shadow: 2px 2px 5px red;
  }
  h3{
      color: rgb(206, 191, 191);
      padding: 1%;
      font-size: 2.0em;
      font-family: monospace;
      text-shadow: 2px 2px 5px red;
  }
  .joui{
    width: 20%;
    height: 20%; 
    float: right; 
  }
p{
  color: rgb(206, 191, 191);
  padding: 1%;
  line-height: 1.5em;
  font-size: 1.5em;
  font-family: monospace;
  text-shadow: 2px 2px 5px black;
}
.titulo{
  font-size: 300%;
  padding: 2%;
}
.temporada{
  font-size: 200%;
  padding: 2%;
}
.episodio{
  font-size: 150%;
}
.linha{
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}
.jouiper{
  width: 33.33%;
  height: 90%;
}
.alexper{
  width: 33.33%;
}
.arthurper{
  width: 33.33%;
}
.col-4 {
  width: 33.33%;
  font-size: 55%;
}
.img-card{
  background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(163, 12, 12, 0.263));
  border: 10px;
}
.p-card{
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0);
  font-size: 200%;
  width: 300px;
  color: rgb(255, 255, 255);
  background-color: rgb(83, 68, 68);
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
li:hover{
 transform: scale(101%);
 margin: 0.5%;
}
.OSNFIMG{
  width: 45%;
  height: 45%; 
  padding: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.DESCOIMG{
  width: 45%;
  height: 45%; 
  padding: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.CALAIMG{
  width: 45%;
  height: 45%; 
  padding: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.PRIMIMG{
  width: 45%;
  height: 45%; 
  padding: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
.ILHAIMG{
  width: 45%;
  height: 45%; 
  padding: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;   
}
.SINALIMG{
  width: 45%;
  height: 45%; 
  padding: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;   
}
.FloatKai{
  float: right;
  width: 25%;
  height: 25%;
}
.tituep:hover{
  font-size: 220%;
  text-shadow: 2px 2px 5px rgb(4, 0, 255);
}
@media (max-width: 600px) {
  .linha {
    flex-direction: column;
  }

  .col-6 {
      width: 100%;
  }
}
a:link {
  color: rgb(177, 177, 177);
}
a:visited {
  color: rgb(167, 155, 255);
}
a:hover {
  color: red;
}